@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body {
    color: indianred;
    background-color: khaki;
    font-size: 1.0em;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
}

ul {
    width: 25%;
    margin: auto;
}

li {
    text-align: left;
    font-size: 1.5em;
}

a:link {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:rgb(212, 65, 192);
}

a:hover {
    text-decoration: underline;
    color: rgb(65, 92, 212);
}



#main {
    text-align: center;
}

.paragraph {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}

.description {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.5em;
}

.h3 {
    font-family: 'Oswald', sans-serif;
}

    @media (max-width: 800px) {
        img {
            width: 350px;
            height: auto;
        }
        ul {
            width: 50%;
            margin: auto;
        }

        li {
            font-size: 1.5em;    
        }

        .paragraph {
            font-size: 1.3em
        }
    }

    @media (max-width: 600px) {
        img {
            width: 300px;
            height: auto;
        }
        ul {
            width: 50%;
            margin: auto;
        }

        li {
            font-size: 1.5em;    
        }
        .paragraph {
            font-size: 1.1em;
        }
    }